/* 
 * 
 * $Footer
 *
**/

.site-footer {
	position:relative;
	float:left;
	width:100%;
	background-color:$brand6;
	padding:$ms2 $ms0;

	p {
		@include type-xsmall; 
		color:$brand1;	
	}
	a {
		color:$brand1;
		text-decoration:none;
	}

	.copyright {
		margin-top:$ms-8;
		margin-bottom:$ms-6;
		@include type-xsmall;
		font-weight:$fw-bold;

		@include breakpoint(bp2){
			@include type-small;
		}
	}

	@include breakpoint(bp2){
		padding-left:0;
		padding-right:0;

		p {
			&:last-of-type { margin-bottom:0; }
		}		
	}
}



.site-footer__content {
	float:left;
	width:100%;
	padding-bottom:$ms0;

	@include breakpoint(bp2){
		padding-bottom:0;
	}
}



.footer__btn {
	@extend .button;
	float:none;
	display:block;
	margin-bottom:$ms-2;
	padding:$ms-7 $ms0 $ms-8;
	width:auto;
	max-width:340px;
	border-color:$brand1;
	text-transform:none;
	@include type-small;
	line-height:1.8;

	@include breakpoint(bp1){
		display:inline-block;
		margin-left:$ms-4;
	}
	@include breakpoint(bp2){
		@include type-medium;

		&:hover {
			background-color:$brand2;
		}
	}
	@media all and (min-width: 1200px){
		margin-bottom:0;
	}
}
.footer__btn--symbol { 
	padding-right:$ms-6;
	padding-bottom:$ms-6; 

	@include breakpoint(bp2){
		padding-bottom:$ms-8; 
	}

	.symbol { 
		display:inline-block;
		margin-left:$ms-4; 
	}
	.symbol__icon {
		width:31px;
		height:31px;

		.icon { font-size:8px; }

		@include breakpoint(bp3){
		    width:39px;
		    height:39px;

			.icon { font-size:10px; }
		}
	}
}


/*Layout*/
.l-site-footer {
	float:left;
	width:100%;
}

.l-site-footer-col {
	float:left;
	width:100%;
}
.l-site-footer-col1 {
	@include breakpoint(bp1){
		width:28%;
	}
	@media all and (min-width: 1280px){
		width:34%;
	}
}
.l-site-footer-col2 {
	float:right;

	@include breakpoint(bp1){
		width:70%;
    margin-left:2%;
    text-align: right;    
	}
	@media all and (min-width: 1280px){
		width:64%;
	}
}