/* 
 * 
 * $SiteIntro
 *
**/

.site-intro {
	position:relative;
	float:left;
	width:100%;
	padding:$ms2 $ms0;
	z-index:1;

	@include breakpoint(bp2){
		padding-left:0;
		padding-right:0;
		@include center-vertical();
	}
}


.site-intro__title {
	font-size:$ms2;
	color:$brand1;
	line-height:$ms-1;
	text-transform:uppercase;

	@include breakpoint(bp1){
		font-size:$ms5;
	}
}


.site-intro__helper {
	position:relative;
	width:100%;
	@include type-large;
	color:$brand1;
	text-transform:uppercase;
	line-height:$ms-1 + 0.05em;

	.icon {
		float:left;
		margin-right:$ms-8;
	}
}