/* 
 * 
 * $SiteLogo
 *
**/

.site-logo {
	float:left;
	width:155px;
	height:auto;
	padding:$ms0 0;
	margin:0 0 0 $ms0;

	img {
		display:block;
		width:100%;
		height:auto;
	}

	@include breakpoint(bp1) {
		float:none;
		display:block;
		margin:0 auto;
		width:260px;
	}
	@include breakpoint(bp2) {
		float:left;
		padding:$ms3 0 $ms4;
	}
}