/* 
 * 
 * $Navigation
 *
 * Elements styled for main nav section 
 * See nav-primary and nav-secondary 
 * for specific menu styles
 *
**/

/*Colours*/
$nav-button: $brand1;

/* Mobile menu button - with transitions */
$button-size: 1.2em;
$transition: .3s;

.nav-cta {
  position:relative;
  float:left;
  width:100%;
  padding:0 $ms2+.1em 0 0; 
  margin-bottom:0;
  background-color:$brand5;
  color:$brand1;
  font-weight:$fw-normal;
  text-align:right;
  text-transform:uppercase;
  text-decoration:none;
  line-height:1.4;
  @include type-large;
  -webkit-tap-highlight-color:rgba(0,0,0,0);

  &:hover {
    text-decoration:none;
  }

  @include breakpoint(bp1){
    padding-top:3px;
    padding-bottom:2px;
  } 
}

.lines-button {
  position:absolute;
  top:-9px;
  right:5px;
  border:0;
  padding:3px 4px 12px;
  cursor: pointer;
  user-select: none;
  @include transition();

  &:hover {
    opacity: 1;
  }
 
  &:active {
    transition: 0;
    background: rgba(0,0,0,.1);
  }

  @include breakpoint(bp1){
    top:-4px;
    padding-top:0;
  }
}

/*Mixin*/
@mixin line {
  display: inline-block;
  width: $button-size;
  height:3px;
  background: $brand1;
  transition: $transition;
}

.lines {
  /*create middle line*/
  @include line;
  position: relative; 
 
  /*create the upper and lower lines 
  as pseudo-elements of the middle line*/
  &:before, &:after {
    @include line;
    position: absolute;
    left:0;
    content: '';
    transform-origin: 3px center;
  }
  &:before { top: 8px; }
  &:after { top: -8px; }

  @include breakpoint(bp1){
    &:before { top: 9px; }
    &:after { top: -9px; }
  }
}

.active .lines {
 
    /*hide the middle line*/
    background: transparent;
 
    /*overlay the lines by setting both their top values to 0*/
    &:before, &:after{
      transform-origin: 50% 50%;
      top:0;
      width: $button-size;
    }
 
    /*rotate the lines to form the x shape*/
    &:before{
      transform: rotate3d(0,0,1,45deg); 
      -ms-transform:rotate3d(0,0,1,45deg);
      -webkit-transform:rotate3d(0,0,1,45deg);
    }
    &:after{
      transform: rotate3d(0,0,1,-45deg); 
      -ms-transform:rotate3d(0,0,1,-45deg);
      -webkit-transform:rotate3d(0,0,1,-45deg);
    }
}



.main-navigation {
  position:relative;
  display:block;
  clear:both;
  width:100%;
  max-width:280px;
  padding:0;
  margin:0 auto $ms0;
  @include clearfix();
  z-index:8;

  @include breakpoint(bp1){
    float:right;
    margin-right:$ms0;
    max-width:320px;
    padding:0;
  }

  @include breakpoint(bp2){
    position:absolute;
    top:$ms5;
    right:$ms-1;
    overflow:visible; 
  }
}

.js-enabled .main-navigation { display:none; }

.main-navigation.active-menu {
  display:block;
}