/* 
 * 
 * $PrimaryNav
 * 
**/

.nav-primary {
  position:absolute;
  top:33px;
  left:0;
  width:100%;
  margin:0;
  padding:0 $ms-4 $ms-2;
  background-color:rgba(0,0,0,0.82);

  @include breakpoint(bp1) {
    top:42px;
  }
  @include breakpoint(bp2) {
      position:relative;
      top:auto;
      left:auto;
      float:left;
      padding:$ms-2 $ms0 $ms1;
  }
}


.menu-item {
  position:relative;
  float:left;
  width:100%;
  padding:0;
  margin:0;
  text-align:center;
  list-style:none;
  border-bottom:1px solid $brand4;
}

$section-colours: 
  $purple
  $blood
  $tangerine
  $grass
  $azure
  $gold;

@for $i from 1 through length($section-colours) {
    .menu-item:nth-child(#{length($section-colours)}n+#{$i}) {
        border-color: nth($section-colours, $i);
    }
}



.menu-item a {
  display:block;
  padding:$ms-5 $ms-4;
  margin:0;
  @include type-small;
  color:$brand1;
  font-weight:$fw-normal;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  line-height:$ms0;
  background-color:transparent;

  &.active,
  .current-menu-item {
      text-decoration:underline;
      color:$brand2;
      background-color:transparent;
  }

  &.active {
    color:$brand2;
    background-color:transparent;
    text-decoration:none;
  }

  @include breakpoint(bp1) {
      padding:$ms-7 0;
      font-size:$ms0 - .2em;
      text-align:left;
  }
}


.current-menu-item a {
    color:$brand2;
    background-color:transparent;

  @include breakpoint(bp2) {
    &:hover {
      text-decoration:none;
    }
  }
}