/* 
 * 
 * $Base - Wrappers, Containers
 *
**/

/* ==============
 * Containers
 * =============*/

html,body {
    width: 100%;
    height: 100%;
}

body {
	background-color:$brand6;	
}


/* 
 * Apply a natural box layout model to all elements, 
 * but allowing components to change 
 */
.page {
	position:relative;
	float:left;
	width:100%;
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	background-repeat:no-repeat;
	background-position:0 0;
	overflow:hidden;

	*, *:before, *:after {
	  box-sizing: inherit;
	}
}


.overlay-background {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.8);
	z-index:9;
}



/*Container*/
$container-max: $wrapper * 1px;

.container {
	float:none;
	width:auto;
	clear:both;
	display:block;
	max-width:$container-max;
	margin:0 auto;
	@include clearfix();

	@include breakpoint(bp2){
		padding:0 $ms2;
	}
	@include breakpoint(bp3){
		padding:0 $ms5;
	}
}
.container--relative { position:relative; }


.split-container {
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	z-index:0;

	@include breakpoint(bp2){
		width:50%;
		height:100%;
	}
}
.split-container--left { left:0; }
.split-container--right { right:0; }


/*Loop through list and output class with colour*/
@each $bg, $colour in $colours {
  .split-container--#{$bg} {
    background-color:$colour;
  }
}

.split-container--home {
  height:50%;	
	background-color:$brand5;
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:cover;

	@include breakpoint(bp1) {
		height:50%;	
	}
	@include breakpoint(bp2) {
		height:100%;	
	}
}
.split-container--home-left { background-image:url(#{$base-image-url}/backgrounds/welcome.jpg); }
.split-container--home-right { 
	top:50%;
	background-position:50% 10%; 
	background-image:url(#{$base-image-url}/sections/1-Wandle-Annual-Report-2015-2016.jpg);  

	@include breakpoint(bp1) {
		top:50%;	
	}
	@include breakpoint(bp2) {
    top:0;		
    background-position:center;     
	}
}


.split-container--welcome {
	display:none;
	right:0;
	height:100%;
	background-color:$brand5;
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:cover;

	@include breakpoint(bp2) {
		display:block;
	}
}
.split-container--welcome-right { 
	background-position:center; 
	background-image:url(#{$base-image-url}/sections/welcome-hillingdon-street.jpg);  
}