/* 
 * 
 * $Buttons
 *
**/

.button {
    clear:both;
    display:inline-block;
    width:100%;
    padding:$ms-4 $ms-1;
    margin-bottom:0;
    @include type-small;
    font-weight:$fw-bold;
    line-height:$ms0;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    color:$brand2;
    background-color:transparent;
    cursor:pointer;
    border:1px solid $brand5;
    outline:0;
    @include border-radius($curve);
    @include transition();

    &:active,
    &:focus {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
    } 

    @include breakpoint(bp1){
        border-width:2px;
        padding-left:$ms2;
        padding-right:$ms2;
    }
    @include breakpoint(bp2){
        padding-right:$ms-4;
        padding-bottom:$ms-7;
        @include type-medium;
        line-height:1.9;
        text-align:left;

        &:hover {
            text-decoration:none;
            color:$brand1;
            background-color:$brand5;
            @include transition();
        }
    }
}

/*Loop through list and output class with colour*/
@each $bg, $colour in $colours {
  .button--#{$bg} {
    border-color:$colour;

    @include breakpoint(bp2){
        &:hover {
            background-color:$colour;
        }
    }
  }
}