/* 
 * 
 * $Icons
 *
**/

.icon {
    display:block;

    &:before {
        display:block;
        margin:0 auto;
        content: '';
    }
}


/*Arrows*/
.icon--arrow {
    font-size:16px;

    @media all and (min-width:$bp1) {
	    font-size:24px;
    }
}
.icon--arrow-up {
    &:before {
        @include sprite(arrow-up);
    }
}
.icon--arrow-down {
    &:before {
        @include sprite(arrow-down);
    }
}


/*Chevron*/
.icon--chevron {
    font-size:12px; 

    &:before {
        @include sprite(chevron);
    }
}


/*Download*/
.icon--download {
    font-size:12px; 

    &:before {
        @include sprite(download);
    }
}


/*Social*/
.icon--social-twitter {
    &:before {
        @include sprite(social-twitter);
    }
}
.icon--social-facebook {
    &:before {
        @include sprite(social-facebook);
    }
}
.icon--social-linkedin {
    &:before {
        @include sprite(social-linkedin);
    }
}


/*Magnifying Glass*/
.icon--magnifying-glass {
    font-size:16px;

    &:before {
        margin-top:2px;
        @include sprite(magnifying-glass);
    }
}


/*Close Icons*/
.icon--x {
    font-size:14px;

    &:before {
        margin-top:7px;
        @include sprite(x);
    }
}