/*
 * $Svgsprite
 *
 * Auto create a sprite for svgs using gulp.
 */

$icons: (
      sprite: (width: 289px, height: 391px, pngPath: '../images/pngs/sprite.png', svgPath: '../images/svgs/sprite.svg'),
     arrow-down: (width: 32px, height: 32px, backgroundX: 0px, backgroundY: 0px),
     arrow-up: (width: 32px, height: 32px, backgroundX: -32px, backgroundY: -32px),
     chevron: (width: 32.2px, height: 134.4px, backgroundX: -64px, backgroundY: -64px),
     download: (width: 32px, height: 32px, backgroundX: -97px, backgroundY: -199px),
     magnifying-glass: (width: 32px, height: 32px, backgroundX: -129px, backgroundY: -231px),
     social-facebook: (width: 32px, height: 32px, backgroundX: -161px, backgroundY: -263px),
     social-linkedin: (width: 32px, height: 32px, backgroundX: -193px, backgroundY: -295px),
     social-twitter: (width: 32px, height: 32px, backgroundX: -225px, backgroundY: -327px),
     x: (width: 32px, height: 32px, backgroundX: -257px, backgroundY: -359px),
)