/* 
 * 
 * $Symbol
 *
**/

.symbol {
    display:none;
    float:right;
    line-height:2em;

    @include breakpoint(bp2){
        display:block;
    }
}
.symbol__icon {
    float:right;
    padding-top:6px;
    margin-left:$ms-8;
    width:40px;
    height:40px;
    background-color:$brand5;
    @include border-radius(100%);
}

/*Loop through list and output class with colour*/
@each $bg, $colour in $colours {
  .symbol__icon--#{$bg} {
    background-color:$colour;
  }
}