/*
 *
 * $Typography - Base font styles
 *
**/

/*Check _base.scss for base font sizes and modular scale variables*/

/*Base font styles*/
$base-line-height: $ms0 + .1em;
$base-font-weight: $fw-normal;
$base-font-color: $brand2;
$base-font-alignment: left;

/* Font Faces */
@mixin font-body { font-family: 'foco', Arial, sans-serif; }
@mixin font-fancy { font-family: 'foco', Arial, sans-serif; }

/* Common Text Sizes */
@mixin type-xsmall { font-size:$ms-2; }
@mixin type-small { font-size:$ms-1; }
@mixin type-medium { font-size:$ms0; }
@mixin type-large { font-size:$ms1; }
@mixin type-xlarge { font-size:$ms2; }
@mixin type-giga { font-size:$ms3; }
@mixin type-mega { font-size:$ms4; }


/* ==================
 * Apply text styles
 * ==================*/

body {
    @include font-body;
    font-size:$base-font-size--narrow * 1px;
    line-height:$base-line-height;
    font-weight:$base-font-weight;
    color:$base-font-color;
    word-wrap:break-word;
    -webkit-font-smoothing:antialiased;

    @include breakpoint(bp1) {
        font-size:$base-font-size--wide * 1px; 
    }
}

p,
a {
    margin:0 0 $ms-2;
    padding:0;
    text-align:$base-font-alignment;
}

a {
    color:$brand2;
    font-weight:$fw-bold;
    text-decoration:none;

    @include breakpoint(bp1) {
        &:hover { 
            text-decoration:underline;
        }
    }
}

sub,
sup { @include type-xsmall; }

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-fancy;
    padding:0;
    margin:0 0 $ms-6;
    line-height:$ms0;
    font-weight:$base-font-weight;
}

h1 { @include type-mega;  }
h2 { @include type-giga; }
h3 { @include type-xlarge; }
h4 { @include type-large; }
h5 { @include type-medium; }
h6 { @include type-medium; }

p + h2,
p + h3,
p + h4,
p + h5 {
    margin-top:$ms-4;
}


ul,
ol { 
    padding:0 0 $ms1;
    margin:0 0 0 $ms0;
}
li { 
    padding:0;
    margin:0 0 $ms-7;
    line-height:$ms0;
}

strong {
    font-weight:$fw-bold;
}


.text--no-space { margin-bottom:5px; }