/* 
 * 
 * $Article
 *
**/

.article {
	position:relative;
	float:left;
	width:100%;
	padding:0 $ms0;
	z-index:1;

	p {
		color:$brand2;
	}

	@include breakpoint(bp2) {
		padding-left:0;
		padding-right:$ms1;
	}
}
.article--space { padding-bottom:$ms-6; }
.article--push-down { padding-top:$ms-2; }
.article--light-text {
	p { color:$brand1; }
}


.article__intro {
	font-size:$ms1 - .2em;
	font-weight:$fw-bold;
	line-height:$ms0;
}


/*Cols*/
.l-article-cols {
	float:left;
	width:100%;
}
.l-article-cols-col {
	float:left;
	width:100%;

	@include breakpoint(bp1) {
		width:48%;
	}
}
.l-article-cols-col2 { 
	@include breakpoint(bp1) {
		margin-left:4%; 
	}
}


/*Images*/
.article__image {
	display:block;
	max-width:100%;
	height:auto;
	margin-bottom:$ms-2;
}
.article__image--left {
	float:left;
	width:47.5%;
}
.article__image--right {
	float:right;
	width:47.5%;
}