/* 
 * 
 * $Block
 *
**/

.block {
	position:relative;
	display:block;
	margin:0 auto;
	max-width:360px;
	padding:$ms0 $ms0 $ms1;
    margin-bottom:$ms0;
	background-color:lighten($brand3, 5%);
	@include clearfix();

	@media all and (min-width: 768px){
		max-width:none;
	}
	@include breakpoint(bp2){
		max-width:none;
		padding-left:$ms1;
		padding-right:$ms1;
	}
}
.block--has-foot {
	padding-bottom:$ms5;

	@include breakpoint(bp1){
		min-height:274px;
	}
	@include breakpoint(bp2){
		min-height:275px;
		padding-right:$ms4;
	}
}
.block--min-height {
	@include breakpoint(bp1){
		min-height:380px;
	}
	@include breakpoint(bp2){
		min-height:340px;
	}
	@media all and (min-width: 1240px){
		min-height:320px;
	}
}
.block--compact { 
	@include breakpoint(bp1){
		min-height:360px;
	}	
	@include breakpoint(bp2){
		min-height:370px;
		padding:$ms0; 
	}
}
.block--governance {
	@include breakpoint(bp1){
		min-height:200px;
	}	
	@include breakpoint(bp3){
		min-height:340px;
	}
}

/*Loop through list and output class with colour*/
@each $bg, $colour in $colours {
  .block--#{$bg} {
    background-color:$colour;
  }
}



$block__gutter: 30;
$block__col1: 520;
$block__col2: ($wrapper - $block__gutter) - $col1;
.l-block {
    float:left;
}
.l-block1 {
    width:$block__col1 / $wrapper * 100%;
}
.l-block2 {
    width:$block__col2 / $wrapper * 100%;
    margin-left:$block__gutter / $wrapper * 100%;
}


.block__title {
	margin-bottom:.05em;
	@include type-medium;
	color:$brand1;
	line-height:$ms0;
	text-transform:uppercase;
	word-break:keep-all;

	@include breakpoint(bp3){
		@include type-xlarge;
	}
}
.block__title--large,
.block__title--people {
	@include type-xlarge;

	@include breakpoint(bp1){
		@include type-large;
	}
	@include breakpoint(bp2){
		@include type-xlarge;
	}
	@media all and (min-width: 1240px){
		@include type-mega;
		line-height:$ms-1;
	}
}
.block__title--people {
	@media all and (min-width: 1240px){
    margin-bottom: $ms-6;
    @include type-large;
	}  
}

/*Loop through list and output class with colour*/
@each $bg, $colour in $colours {
  .block__title--#{$bg} {
    color:$colour;
  }
}


.block__symbol {
	display:block;
	width:100%;
	max-width:92px;
	height:auto;
	margin:0 auto;
	@include center-vertical();

	@include breakpoint(bp2){
		max-width:120px;
	}
	@include breakpoint(bp3){
		left:10%;
		max-width:140px;
	}
}


.block__detail,
.block__desc {
	margin-bottom:0;
	color:$brand2;
}
.block--light-text {
	.block__number,
	.block__detail,
	.block__desc {
		color:$brand1;
	}
}


.block__detail {
	font-weight:$fw-bold;
	line-height:1.1;

	@include breakpoint(bp2){
		font-size:1.15em;
	}
}
.block__detail--pale { color:$brand4; }


.block__desc { 
	@include type-small; 
	line-height:1.175; 
}


.block__foot {
	position:absolute;
	bottom:0;
	left:0;
	margin-bottom:0;
	width:100%;
	padding:$ms-6 $ms-2;
	font-weight:$fw-normal;
	text-transform:uppercase;
	color:$brand1;
	background-color:$brand4;
	cursor:pointer;
}


.block__img {
	display:block;
	width:100%;
	max-width:160px;
	height:auto;
	margin:0 auto $ms-2;
}