/* 
 * 
 * $Image
 *
**/

.image {
	position:relative;
	float:left;
	width:100%;
	margin:0 0 $ms0;
	padding:0 $ms0;

	@include breakpoint(bp2) {
		padding-right:0;
	}
}
.image--large {
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	width:95%;
	max-width:1200px;
	padding:0;
	margin:0;
	transform:translate(-50%, -50%);
	z-index:10;

	@include breakpoint(bp2){
		width:80%;
		height:80%;
	}
}



.image__img {
	position:relative;
	float:left;
	width:100%;
	height:auto;

	img {
		display:block;
		width:100%;
		height:auto;		
	}

	@include breakpoint(bp1) {
		width:60%;
	}
	@include breakpoint(bp2) {
		width:100%;
	}
	@include breakpoint(bp3) {
		width:60%;
	}
}
.image__img--no-caption {
	@include breakpoint(bp1) {
		width:100%;
	}
	@include breakpoint(bp3) {
		width:100%;
	}
}
.image__img--large {
	width:100%;
}


.image__caption {
	float:left;
	width:100%;
	padding:$ms-4;
	color:$brand1;
  line-height:1.15;
  
  a { 
    color:$brand1; 
    text-decoration: none;
  }

	@include breakpoint(bp1) {
		width:40%;
	}
	@include breakpoint(bp2) {
		width:100%;
	}
	@include breakpoint(bp3) {
		width:40%;
	}
}
.image__caption--large {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}

/*Loop through list and output class with colour*/
@each $bg, $colour in $colours {
  .image__caption--#{$bg} {
    background-color:$colour;
  }
}


.image__zoom {
	position:absolute;
	bottom:0;
	right:0;
	margin-bottom:0;
	width:40px;
	height:40px;
	cursor:pointer;
}
.image__zoom--large { 
	top:0;
	bottom:auto;
	z-index:11; 
}

/*Loop through list and output class with colour*/
@each $bg, $colour in $colours {
  .image__zoom--#{$bg} {
    background-color:$colour;
  }
}