/* 
 * 
 * $PurposeBlocks
 *
**/

.purpose-img {
	display:block;
	width:100%;
	max-width:140px;
	height:auto;
	margin:0 auto $ms-2;

	@include breakpoint(bp1){
		max-width:190px;
	}
}

.purpose-text {
	display:block;
	margin:0 auto;
	max-width:340px;
	@include clearfix();

	ul { 
		margin-left:0; 

		@include breakpoint(bp2){
			margin-left:$ms0;
		}
	}

	p,li {
		text-align:center;

		@include breakpoint(bp2){
			text-align:left;
		}
	}
	li {
		list-style:inside;
		padding-left:0;

		@include breakpoint(bp2){
			list-style:outside;
		}
	}
}

.purpose-text1 {
	@include breakpoint(bp2){
		padding-top:$ms6;
	}

	p {
		@include type-medium;
	}
}