/* 
 * 
 * $Region
 *
**/

.regions {
	position:relative;
	float:left;
	width:100%;
}


/*Region Layout*/
$region__gutter: 5;
.l-region {
	float:left;
	width:100%;

	@media all and (min-width: 400px){
		$region__col: ($wrapper - ($region__gutter*6)) / 3;
	    width:$region__col / $wrapper * 100%;
	    margin:0 (($region__gutter / $wrapper) * 100%);

	    &:first-of-type,
	    &:nth-child(3n + 1) { clear:left; margin-left:0; }
	}
	@include breakpoint(bp1){
		$region__col: ($wrapper - ($region__gutter*10)) / 5;
	    width:$region__col / $wrapper * 100%;
	    margin:0 (($region__gutter / $wrapper) * 100%);

	    &:nth-child(3n + 1) { margin-left:$region__gutter / $wrapper * 100%; clear:none; }
	    &:first-of-type,
	    &:nth-child(5n + 1) { clear:left; margin-left:0; }
	}
	@include breakpoint(bp2){
		$region__col: ($wrapper - $region__gutter*20) / 10;
		clear:none;
	    width:$region__col / $wrapper * 100%;
	    margin:0 (($region__gutter / $wrapper) * 100%);

	    &:nth-child(3n + 1) { clear:none; margin-left:$region__gutter / $wrapper * 100%; }
	    &:first-of-type,
	    &:nth-child(5n + 1) { clear:none; margin-left:$region__gutter / $wrapper * 100%; }
	}
}


.region {
	position:relative;
	display:block;
	margin:0 auto;
	max-width:200px;
	margin-bottom:$ms0;
	min-height:200px;
	text-align:center;
	border-bottom:1px solid $brand3;

	@include breakpoint(bp2){
		padding-right:7px;
		margin-bottom:0;
		min-height:200px;
		border-bottom-width:0;
		border-right:1px solid $brand3;
	}
}

.region__title { 
	margin-bottom:$ms0;
	@include type-medium;
	color:$brand1; 

	@include breakpoint(bp1){
		@include type-small;
	}
	@include breakpoint(bp2){
		font-size:.7em;
	}
	@include breakpoint(bp3){
		font-size:.8em;
	}
	@media all and (min-width:1180px){
		font-size:.9em;
	}
}
.region__title--no-space { padding-bottom:0; }


.region__symbol {
	display:block;
	width:100%;
	max-width:120px;
	margin:0 auto;
	height:auto;
	@include centerer();
	margin-top:-12px;
}
.region__symbol--bromley { max-width:80px; }
.region__symbol--croydon { max-width:80px; }
.region__symbol--kingston-upon-thames { max-width:40px; }
.region__symbol--lambeth { max-width:30px; }
.region__symbol--lewisham { max-width:50px; }
.region__symbol--merton { max-width:70px; }
.region__symbol--southwark { max-width:30px; }
.region__symbol--sutton { max-width:60px; }
.region__symbol--wandsworth { max-width:60px; }
.region__symbol--other { max-width:50px; }


.region__number { 
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	@include type-xlarge;
	color:$brand1; 
	text-align:center;

	@include breakpoint(bp1){
		@include type-small;
	}
	@include breakpoint(bp2){
		margin-bottom:0;
		@include type-large;
	}
}