/* 
 * 
 * $RepairImg
 *
**/

.repair-img {
	display:block;
	width:100%;
	max-width:140px;
	height:auto;
	margin:0 auto $ms-2;
}
.repair-img2 {
	max-width:120px;
}

.repair-text {
	display:block;
	margin:0 auto;
	max-width:340px;
	@include clearfix();

	p {
		text-align:center;

		@include breakpoint(bp2){
			text-align:left;
		}
	}
}

.repair-text1 {
	@include breakpoint(bp2){
		max-width:240px;
	}

	p {
		@include type-medium;
	}
}