/* 
 * 
 * $Section
 *
**/

.section {
	position:relative;
	float:left;
	width:100%;
	overflow:hidden;
}
.section--space { 
	padding:0 0 9px; 

	@include breakpoint(bp2) {
		padding-top:$ms0;
	}
}

.section--home {
  min-height:calc(100vh - 128px);		
	
	@include breakpoint(bp1) {
    min-height:calc(100vh - 170px);		    
	}
	@include breakpoint(bp2) {
    min-height:calc(100vh - 149px);		    
	}
	@include breakpoint(bp3) { 
		padding-bottom:0;
	}
}

/*Colours*/
.section--dark-grey { background-color:$brand4; }
.section--light-grey { background-color:$brand3; }



/*Divider*/
.section--divider {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:9px;
	background-position:center;
	background-size:cover;
	background-repeat:repeat-x;
	background-image:url(#{$base-image-url}/backgrounds/divider.png);
}


/*Footer*/
.section__footer {
	position:relative;
	float:left;
	width:100%;
	padding:$ms0;
	background-color:lighten($brand3, 10%);
	z-index:1;
}

.section__footer--sticky {
	position:absolute;
	left:0;
	bottom:9px;
	background-color:$brand1;
	z-index:1;
}



/*Inner*/
.section__inner {
	position:relative;
	float:left;
	width:100%;
	background-color:$brand1;
	z-index:1;
}
.section__inner--push-down { 
	@include breakpoint(bp2){
		margin-top:57px;
	}
}
.section__inner--space {
	padding-top:$ms2;
	padding-bottom:$ms2;
}
.section__inner--navy { background-color:$navy; }


/*Inner Divider*/
.section__inner__divider {
	display:none;
	position:absolute;
	top:30px;
	left:0;
	width:1px;
	height:170px;
	background-color:$brand3;

	@media all and (min-width:1200px){
		display:block;
	}
}
.section__inner__divider--chevron {
	top:16px;
	left:-38px;
	width:auto;
	background-color:transparent;

	.icon { font-size:14px; }
}