/* 
 * 
 * $Social
 *
**/

.social {
	position:relative;
	float:right;
	margin:$ms2 - .1em $ms0 0 0;
	padding:0;
	list-style:none;
	text-align:center;
	@include clearfix();
	z-index:3;

	@include breakpoint(bp1) {
		position:absolute;
		bottom:$ms-1;
		left:$ms0;
	}
	@include breakpoint(bp2) {
		bottom:$ms3 + .35em;
		right:370px;
		left:auto;
	}

	li {
		display:inline-block;
		margin:0 1px;
		padding-bottom:0;
	}
	a {
		display:block;
		margin-bottom:0;
	}

	.icon--social { 
	    display:block;
		font-size:14px;

	    &:before {
	        display:block;
	        margin:0 auto;
	        content: '';
	    }

		@include breakpoint(bp1) {
			font-size:17px;
		}
	}

	.icon--facebook { 
	    &:before {
	        @include sprite(social-facebook);
	    }
	}
	.icon--linkedin { 
	    &:before {
	        @include sprite(social-linkedin);
	    }
	}
	.icon--twitter { 
	    &:before {
	        @include sprite(social-twitter);
	    }
	}
}