/* 
 * 
 * $Title
 *
**/

.title {
	position:relative;
	float:left;
	width:100%;
	padding:$ms-6 $ms-4;
	margin-bottom:$ms-5;
	color:$brand1;
	font-weight:$fw-normal;
	text-transform:uppercase;
	line-height:$ms-1;
	text-align:center;
	z-index:1;

	@include breakpoint(bp2){
		text-align:left;
	}
}

/*Loop through list and output class with colour*/
@each $bg, $colour in $colours {
  .title--#{$bg} {
    background-color:$colour;
  }
}


.title--h2 {
	padding-top:$ms2;
	@include type-giga;

	@include breakpoint(bp1){
		@include type-mega;
	}
	@include breakpoint(bp2){
		padding-top:$ms-6;
	}
}

.title--h3 {
	@include type-large;

	@include breakpoint(bp1){
		text-align:center;
		@include type-xlarge;
	}
}

.title--pull-up {
	@include breakpoint(bp2){
		margin-top:-57px;
	}
}