/* 
 * 
 * $Toggle
 *
**/

.toggle {
	position:absolute;
	top:$ms-6;
	left:0;
	width:100%;
	text-align:center;

	@include breakpoint(bp2){
		position:relative;
		top:auto;
		left:auto;
		width:auto;
		float:right;
	}

	a { 
		display:inline-block;
		opacity:0.7;
		cursor:pointer;
		@include transition();

		.icon { font-size:20px; }

		&:hover {
			opacity:1;
			@include transition();
		}

		@include breakpoint(bp2){
			float:left;
			margin:0 0 0 6px;
		}
	}
}