/* 
 * 
 * $Value
 *
**/

.values {
	position:relative;
	float:left;
	width:100%;
	padding-top:$ms-2;
	z-index:1;
}


/*Value Layout*/
$value__gutter: 20;
.l-value {
	float:left;
	width:100%;

	@include breakpoint(bp1){
		$value__col: ($wrapper - ($value__gutter*4)) / 2;
	    width:$value__col / $wrapper * 100%;
	    margin:0 (($value__gutter / $wrapper) * 100%);

	    &:first-of-type,
	    &:nth-child(2n + 1) { clear:left; margin-left:0; }
	}
	@include breakpoint(bp2){
		$value__col: ($wrapper - ($value__gutter*9)) / 3;
	    width:$value__col / $wrapper * 100%;
	    margin:0 (($value__gutter / $wrapper) * 100%);

	    &:nth-child(2n + 1) { margin-left:$value__gutter / $wrapper * 100%; clear:none; }
	    &:first-of-type,
	    &:nth-child(3n + 1) { clear:left; margin-left:0; }
	}
	@media all and (min-width: 1180px){
		$value__col: ($wrapper - $value__gutter*10) / 5;
		clear:none;
	    width:$value__col / $wrapper * 100%;
	    margin:0 (($value__gutter / $wrapper) * 100%);

	    &:nth-child(2n + 1) { clear:none; margin-left:$value__gutter / $wrapper * 100%; }
	    &:first-of-type,
	    &:nth-child(3n + 1) { clear:none; margin-left:$value__gutter / $wrapper * 100%; }
	}
}


.value {
	display:block;
	margin:0 auto;
	max-width:300px;
	padding:0 $ms0 $ms0;
	margin-bottom:$ms0;
	text-align:center;
	border-bottom:1px solid $brand3;

	p { 
		text-align:center; 

		&:last-of-type { margin-bottom:0; }
	}

	@include breakpoint(bp2){
		padding-left:0;
		padding-right:0;
		border-bottom-width:0;
	}
}


.value__symbol {
	display:block;
	width:100%;
	max-width:140px;
	height:auto;
	margin:0 auto $ms-2;
}


.value__title {
	@include type-medium;
	font-weight:$fw-bold;
}