/*
 *
 * 5 Columns
 *
 *   <div class="l-col5">
 *      <div class="l-col5-col"></div>
 *      <div class="l-col5-col"></div>
 *      <div class="l-col5-col"></div>
 *      <div class="l-col5-col"></div>
 *      <div class="l-col5-col"></div>
 *   </div>
 *
**/

.l-col5 {
    clear:both;
    display:block;
    margin:0 auto;
    width:100%;
    @include clearfix();
}

/*Change these values to change col sizes*/
$container: $wrapper;
$col5__gutter: 10;

.l-col5-col {
    float:left;
    width:100%;

    @include breakpoint(bp1) {
        $col5: ($container - ($col5__gutter * 6)) / 3;
        clear:none;
        float:left;
        width:$col5 / $container * 100%;
        margin:0 (($col5__gutter / $container) * 100%);

        &:first-of-type,
        &:nth-child(3n + 1) { clear:left; margin-left:0; }
    }
    @include breakpoint(bp2) {
        $col5: ($container - ($col5__gutter * 10)) / 5;
        clear:none;
        float:left;
        width:$col5 / $container * 100%;
        margin:0 (($col5__gutter / $container) * 100%);

        &:first-of-type,
        &:nth-child(3n + 1) { clear:none; margin-left:($col5__gutter / $container) * 100%; }
    }
}