/*
 *
 * 4 Columns
 *
 *   <div class="l-col4">
 *      <div class="l-col4-col"></div>
 *      <div class="l-col4-col"></div>
 *      <div class="l-col4-col"></div>
 *      <div class="l-col4-col"></div>
 *   </div>
 *
**/

.l-col4 {
    clear:both;
    display:block;
    margin:0 auto;
    width:100%;
    @include clearfix();
}

/*Change these values to change col sizes*/
$container: $wrapper;
$col4__gutter: 10;

.l-col4-col {
    float:left;
    width:100%;

    @include breakpoint(bp1) {
        $col4: ($container - ($col4__gutter * 4)) / 2;
        clear:none;
        float:left;
        width:$col4 / $container * 100%;
        margin:0 (($col4__gutter / $container) * 100%);

        &:first-of-type,
        &:nth-child(2n + 1) { clear:left; margin-left:0; }
    }
    @include breakpoint(bp3) {
        $col4: ($container - ($col4__gutter * 8)) / 4;
        clear:none;
        float:left;
        width:$col4 / $container * 100%;
        margin:0 (($col4__gutter / $container) * 100%);


        &:first-of-type,
        &:nth-child(2n + 1) { clear:none; margin-left:($col4__gutter / $container) * 100%; }
    }
}