/*
 *
 * 3 Columns
 *
 *   <div class="l-col3">
 *      <div class="l-col3-col l-col3-col1"></div>
 *      <div class="l-col3-col l-col3-col2"></div>
 *      <div class="l-col3-col l-col3-col3"></div>
 *   </div>
 *
**/


/* 3 column */
.l-col3 {
    clear:both;
    display:block;
    margin:0 auto;
    width:100%;
    @include clearfix();
}

.l-col3-col {
    float:left;
    width:100%;
}

/*Change these values to change col sizes*/
$container: 1010;
$col3__gutter: 10;


/* Media Queries */
@media screen and (min-width: 700px) {

    $col3: ($container - ($col3__gutter * 6)) / 3;

    .l-col3-col {
        clear:none;
        float:left;
        width:$col3 / $container * 100%;
        margin:0 (($col3__gutter / $container) * 100%);
    }

}