/*
 *
 * 2 Columns
 *
 *   <div class="l-col2">
 *      <div class="l-col2-col l-col2-col1"></div>
 *      <div class="l-col2-col l-col2-col2"></div>
 *   </div>
 *
**/

$container: $wrapper;
$gutter: 30;
$col1: 520;
$col2: ($container - $gutter) - $col1;
$gutter-fluid: $container - ($col1 + $col2);

/* 2 column */
.l-col2 {
    @include clearfix();
}
.l-col2--relative { position:relative; }

.l-col2-col {
    float:left;
    width:100%;
}


@media screen and (min-width: $bp1) {
    $col: ($container - $gutter) /2;
    .l-col2--early-break {
        margin:0 auto;
        width:100%;
    }

    .l-col2-col--early-break.l-col2-col1,
    .l-col2-col--early-break.l-col2-col2 {
        width:$col / $container * 100%;
    }
    .l-col2-col--early-break.l-col2-col2 {
        margin-left:$gutter / $container * 100%;
    }
}

@media screen and (min-width: $bp2) {

    /* Default columns */
    .l-col2 {
        margin:0 auto;
        width:100%;
    }

    .l-col2-col1 {
        width:$col1 / $container * 100%;
    }
    
    .l-col2-col2 {
        width:$col2 / $container * 100%;
        margin-left:$gutter-fluid / $container * 100%;
    }


    /*Even cols*/
    $even-col-gutter: 0;
    $even-col: ($container - $even-col-gutter) / 2;

    .l-col2-col--even.l-col2-col {
        width:$even-col / $container * 100%;
        margin:0;
    }
    .l-col2-col--even.l-col2-col2 {
        margin-left:($even-col-gutter / $container * 100%);
    }


    /*Flip cols*/
    .l-col2-col--flip.l-col2-col { float:right; }

}