/* 
 * 
 * $Colours
 *
**/

/*================*
 * Define colours
 *================*/

/* Whites */
$white: #fff;

/*Blacks*/
$noir: #111;

/* Greys */
$grey-pale: #d8d8d8;
$slate: #7c7c7c;
$elephant: #4c4c4c;

/*Reds*/
$blood: #da1d34;
$pink: #ff003d;

/*Purples*/
$purple: #842e89;
$aubergine: #5e2463;

/*Greens*/
$pea: #8fba08;
$grass: #12B24B;
$azure: #08a086;

/*Blues*/
$blue-bright: #07cced;
$navy: #00468c;
$sky: #0090e0;
$midnight: #0d3c55;

/*Yellows/Oranges*/
$tangerine: #f28b00;
$gold: #f8ac00;
$orange: #ef5306;


/*================*
 * Brand Colours
 *================*/
$brand1: $white;
$brand2: $noir;
$brand3: $grey-pale;
$brand4: $slate;
$brand5: $purple;
$brand6: $elephant;

/*Section Colour Array*/
$colours: 	(purple, $purple),
			(blood, $blood), 
			(tangerine, $tangerine), 
			(grass, $grass), 
			(azure, $azure), 
			(gold, $gold),
			(white, $white),
			(aubergine, $aubergine),
			(navy, $navy),
			(sky, $sky),
			(midnight, $midnight),
			(pea, $pea),
			(orange, $orange),
			(blue-bright, $blue-bright),
			(pink, $pink),
			(noir, $noir);