/* 
 * 
 * $Mixins
 *
**/

/*Breakpoints*/
 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: $bp4) { @content ; }
  }
   @else if $point == bp3 {
     @media (min-width: $bp3) { @content ; }
  }
    @else if $point == bp2 {
     @media (min-width: $bp2) { @content ; }
  }
   @else if $point == bp1 {
     @media (min-width: $bp1)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}


/*Clearfix*/
@mixin clearfix() {
    zoom: 1;
    &:after {
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
        content: "";
    }
}


/*Transition*/
@mixin transition($time: 0.4s) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -ms-transition: all $time ease;
    -o-transition: all $time ease;
    transition: all $time ease;
}


/*Center*/
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
@mixin center-vertical {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}


/*Border Radius*/
@mixin border-radius($radius: 6px) {
    -webkit-border-radius:   $radius;
    -moz-border-radius:      $radius;
    border-radius:           $radius;
    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}